@model IEnumerable<_08_CRUD_Personas_UI.Models.clsPersonaConNombreDepartamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidosPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoPersona)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.FotoPersona)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidosPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoPersona)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FotoPersona)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idPersona }) |
                @Html.ActionLink("Details", "Details", new { id = item.idPersona }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idPersona })
            </td>
        </tr>
    }

</table>